/**************APP *************/
/* 
{
  position: absolute;
  bottom: 15%;
  right: 10%;
  width: 70px;
}
.bot-closed img {
  width: 100%;
} */

.bot-launcher {
  position: fixed;
  z-index: 2147483003;
  padding: 0 !important;
  margin: 0 !important;
  border: none;
  bottom: 25px;
  right: 25px;
  max-width: 65px;
  width: 65px;
  max-height: 65px;
  height: 65px;
  /* border-radius: 50%; */
  /* background: #00abae; */
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
  transition: transform 167ms cubic-bezier(0.33, 0, 0, 1);
  box-sizing: content-box;
}

.bot-closed {
  opacity: 1;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  transition: transform 0.1s linear 0s, opacity 0.08s linear 0s;
  box-sizing: border-box;
}

.bot-closed .chat-icon {
  width: 100%;
}
